@media only screen and (max-width: 600px) {
    header {
        position: static;
    }
    
    .container {
        flex-direction: column;
    }
    .block:hover {
        height: 100px;
        width: 200px;
    }
} 

@media only screen and (max-width: 1000px) {
    .for-desktop {
        display: none;
    }
    .for-mobile {
        display: list-item;
    }
}